* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  margin: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  color: #2b82ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  font-size: 20px;
  font-weight: normal; 
}

/* .heading{
  float: left;
} */

#container {
  background-color: white;
  width: auto;
  padding: 20px;
  margin: 50px;
  border-radius: 8px;
  box-shadow: 5px 5px 0 5px rgba(128, 128, 128, 0.062);
}
input{
  width: 100%;
  padding: 14px 16px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(213, 226, 238);
  border: 0.2px thin whitesmoke;
  border-radius: 6px;
  display: inline-block;
  cursor: text;
}

input[type="password"]:hover{
  border-color: #0d22e2;
}

  input[type="email or number"]:hover{
  border-color: #1b74e4;
}

button{
  color: white;
  background-color: rgba(0, 89, 255, 0.719);
  width: 70%;
  padding: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background-color: blue;
  border: none;
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

.Pword{
  text-decoration: none;
}

.New-account{
  background-color: #42b742;
  width: 70%;
  font-size: 15px;
  padding: 16px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
}
.New-account:hover{
  background-color: rgba(0, 0, 255, 0.788);
  text-decoration: underline;
  font-weight: bold;
}

.create{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.create:hover{
  color: #0d22e2;
  text-transform: none;
  text-decoration: underline;
}